.logo{
    max-width: 55px;
    max-height: 55px;
}
.tao {
    font-family: 'Yeseva One', cursive;
    padding-top: 9px;
}

.Yeseva{
    font-family: 'Yeseva One', cursive;
}
.navbar .submmit{
    font-size: 19px;
    padding: 16px;
    border-radius: 0;
}
.navbar .search-bar{
    border-radius: 0;
    background-color: $primary;
    color: #878787 ;
    border: 2px $secondary solid;
}
.navbar .search{
    width: 300px;
}
.header{
    border-bottom: 3px $secondary solid;
}
.text-third{
    color: $third;
}
.text-fourth{
    color: $fourth;
}

@media (min-width:992px) {
    .navbar .search{
        width: 100%;
    }
}

.collapse .form-control{
    border-radius: 0;
    background-color: $primary;
    color: #878787 ;
    border: 2px $secondary solid;
}
.collapse .form-control:disabled{
    background-color: $primary;
}
.collapse .btn-secondary{
    color: white;
    background-color: $secondary;
    margin-bottom: 264px;
    width: 100%;
    border-radius: 0;
}
.mt-lg-32px{
    margin-top: 32px;
}

.top-104{
    top: 104px;
    max-width: 90%;
}    


