.index-title {
  font-size: 100px;
}
img{
  max-width: 100%;
  height: auto;
}
body{
  font-family: 'Bruno Ace SC', cursive;
  font-family: 'Noto Sans TC', sans-serif;
  font-family: 'Roboto', sans-serif;
}