body, html {
    // height: 100%;
    background-color: $primary;
  }

.bill-info p{
    margin-bottom: 0;
}
.pt-32px{
    padding-top: 32px;
}
.pb-32px{
    padding-bottom: 32px;
}
.mt-32px{
    margin-top: 32px;
}
.boxcontainer{
    position: relative;
}
.boxitem{
    width: 32px;
    height: 32px;
    background-color: $secondary;
    color: $third;
    text-align: center;
    padding: 4px;
}
.container-fluid ul{
    padding-left: 0;
    margin-bottom: 0;
}

// 利用假元素產生連接線
.pay-list-1::before {
    width: 43.5%;
    height: 1px;
    content: "";
    background-color: black;
    display: block;
    position: absolute;
    top: 75%;
    left: 5%;
  }
  .pay-list-2::before {
    width: 44%;
    height: 1px;
    content: "";
    background-color: black;
    display: block;
    position: absolute;
    top: 75%;
    right: 5%;
  }
  


@media (min-width: 992px) {
    .boxitem{
        width: 48px;
        height: 48px;
        background-color: $secondary;
        color: $third;
        text-align: center;
        padding: 6px;
        font-size: 24px;
    }
    .header{
        border-bottom: none;
    }
    .header-lg{
        border-top: 3px $secondary solid;
    }
    .pay-list-1::before {
        width: 40%;
        top: 70%;
        left: 7%;
      }
      .pay-list-2::before {
        width: 40%;
        top: 70%;
        right: 7%;
      }
}
