.row .form-control{
    border-radius: 0;
    background-color: $primary;
    color: #878787 ;
    border: 2px $secondary solid;
}
.row .form-control:disabled{
    background-color: $primary;
}

.row .col-4 .btn-secondary{
    color: white;
    background-color: $secondary;
    margin-bottom: 264px;
    width: 100%;
    border-radius: 0;
}
.mt-lg-32px{
    margin-top: 32px;
}
